<h1>Admin::Dashboard#show</h1>



  <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h3 class = "panel-title">Database</h3>
      </div>
      <div class = "panel-body">
        <p><strong>Products: </strong><%= @products %></p>
        <p><strong>Categories: </strong><%= @categories %></p>
      </div>
  </div>

