<div class="card border mb-3">
  <div class="card-header"><h2>About Us</h2></div>
  <div class="card-body">
    <p class="card-text">Jungle is the global marketplace for unique and creative goods. It’s home to a universe of special, extraordinary items, from unique handcrafted pieces to vintage treasures..</p>
  </div>
</div>

